@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;0,900;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap");

/* font-family: 'Crimson Text', serif;
font-family: 'Roboto', sans-serif; 
font-family: 'Delicious Handrawn', cursive;
*/

:root {
  --black: #0f172a;
  --softGrey: #948a86;
  --green:#285c50;
  --blue: #60a5fa;
  --whiteBlue: #eff6ff;
  --darkBlue: #033855;
  --lessDarkBlue:#044d74;
  --red: #de172e;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}
button {
  cursor: pointer;
  border: none;
  color: var(--whiteBlue);
}

ul {
  list-style: none;
}

p,
span,
li,
h1,
h2,
h3,
h4,
h5,
h6,
a,
td,
label {
  font-family: "Roboto", sans-serif;
  color: var(--black);
}

.app {
  display: grid;
  width: 100vw;
  max-height: 100vh;
  grid-template-columns: 130px 1fr;
  grid-template-rows: 1;
}

nav {
    position: fixed;
    height: 100vh;
    width: 130px;
}
.container{
    grid-column: 2/3;
}

/* Para WebKit (Chrome, Safari) */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--black);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--softGrey);
  border-radius: 10px;
}

/* Para Firefox */
body {
  scrollbar-width: thin;
  scrollbar-color: var(--black);
}

/* Para scrollbar personalizado en Firefox */
body::-moz-scrollbar {
  width: 10px;
}

/* Para navegadores basados en WebKit */
::-webkit-scrollbar {
  width: 10px;
}

body::-moz-scrollbar-thumb {
  background-color: var(--black);
  border-radius: 10px;
}

body::-moz-scrollbar-track {
  background-color: var(--softGrey);
  border-radius: 10px;
}